{% if page.image %}
<div class="entry-featured-image">
    {% if site.lazyimages == "enabled" %}
    <div id="idFeaturedImage"></div>
    {% else %}
    <img class="featured-image {% if page.imageshadow %} image-shadow {% endif %}" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title | default: nhamngoctuananh.github.io' }}">
    {% endif %}
</div>
{% endif %}

<script>
window.addEventListener("load", function() {
    function getValidatedUrl(url) {
        const index = url.indexOf("https://");
        return index !== -1 ? url.slice(index) : url;
    }

    const imageUrl = getValidatedUrl("{{ site.baseurl }}/{{ page.image }}");

    const entryHeader = document.querySelector('.entry-header');
    if (entryHeader) {
        entryHeader.style.display = "block";
    }

    const featuredImageContainer = document.getElementById("idFeaturedImage");
    if (featuredImageContainer) {
        const originalImage = document.querySelector("img.original-image-selector"); // Adjust the selector as needed
        const img = document.createElement("img");
        img.setAttribute("class", "featured-image lazyimg");
        img.setAttribute("src", imageUrl);

        if (originalImage && originalImage.hasAttribute("alt")) {
            img.setAttribute("alt", originalImage.getAttribute("alt"));
        }else{
            img.setAttribute("alt", "nhamngoctuananh.github.io");
        }

        img.onload = function() {
            if (img.hasAttribute("loaded")) {
                img.removeAttribute("loaded");
            }
        };

        featuredImageContainer.appendChild(img);
    }
});</script>
