<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="algolia-site-verification"  content="8DBA920A23A83BAC" />
  <title>{{ page.title }} | {{site.name}}</title>{% seo %}
  <meta name="google-site-verification" content="d_QhcFO6jYixKuqHeimC-fB9HoL2oOxFPBBr1Dm-3nE" />
    <meta name="robots" content="index, follow">
    <meta name="p:domain_verify" content="0b924aa669f7e6b71d9196a1b2371d96"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% assign version =  page.date | date: "%-d" %}
    <meta name="version" content="{{ 'now' | date: '%s' }}">
    {% if page.keywords %}
        <meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}">
    {% endif %}
    <!-- <link href="/assets/css/main.css" rel="stylesheet"> -->
    <link rel="icon" href="{{ site.baseurl }}/assets/images/logo.webp">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CGZMMC73KL"></script>
<script>
  function handleImageLoad(e){e.classList.add("loaded");};
  window.addEventListener("load", function() {
    const imgs = document.querySelectorAll("#mid-autumn-message img");
    imgs.forEach(img => {
      img.setAttribute("src", img.getAttribute("data-src"));
    });
  });

  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CGZMMC73KL');
</script>

</head>

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}

<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=G-8WQCFPL56N"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<nav class="custom-navbar" role="navigation" aria-label="Main navigation">
  <div class="custom-navbar-container custom-container">
    <input type="checkbox" id="custom-menu-toggle" class="custom-menu-toggle" aria-hidden="true" />
    <label for="custom-menu-toggle" class="custom-hamburger" aria-label="Mở menu" role="button" tabindex="0">
      <span class="custom-line custom-line1"></span>
      <span class="custom-line custom-line2"></span>
      <span class="custom-line custom-line3"></span>
    </label>

    <ul class="custom-menu-items" id="customMenu">
      <li><a href="/categories-v1.html" onclick="switchCategory()">Chủ đề</a></li>
      <li><a href="https://beacons.ai/anhhangxomvisual">About me</a></li>
      <li><a href="#" onclick="if (!window.__cfRLUnblockHandlers) return false; triggerContact()">Contact</a></li>
    </ul>

    <h2 class="custom-logo" aria-hidden="false"><a href="/" class="brand-link">ahx.</a></h2>
  </div>
</nav>

    <button id="next-post-active" style="display:none"></button>
    <noscript id="deferred-styles">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
            integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    </noscript>
<div id="sidebarcreater"></div>
    {% include search-lunr.html %}
    <div class="site-content {% if page.url == '/' %} firstpage {% endif %}">
        <div class="container">
            {% if page.url == '/' %}
            <p class="sitetag" style="display: none;">
                {{ site.description }}
            </p>
            {% endif %}
    <div class="main-content"><div id="main-content-content">
      <div id="searchBoxEl"></div>
{{ content }}</div>
    <button id="chat-button" onclick="handleChatButtonClick()">Chat</button>
<div id="snowCall"></div>
    <footer class="footer"><div class="container"><div class="row"><div class="col-md-6 col-sm-12 text-center text-lg-left">Copyright © {{ site.time | date: "%Y" }} {{ site.name }} </div><div class="col-md-6 col-sm-12 text-center text-lg-right"><a target="_blank" href="https://www.facebook.com/nntatlu/">Anh Hàng Xóm</a></div></div></div><div class="fb-customerchat" attribution=setup_tool page_id="113478371644013"></div></footer>
</div>

    {% if site.lazyimages == "enabled" %}
    <script src="{{ site.baseurl }}/assets/js/lazyload.js"></script>
    {% endif %}

    {% if page.layout == 'post' %}

    {% endif %}
    <div id="progress-container">
        <div class="progress-bar"></div>
      </div>
      <button onclick="consentGrantedAdStorage()" style="display: none;">Yes</button>
<canvas id="fireworksCanvas"></canvas>
    </body>
</html>
<link href="{{ site.baseurl }}/assets/css/readmore.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/prism.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

    <!-- Google tag (gtag.js) -->

    </script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script><!--
<div id="mid-autumn-message">
  <a class="codepro-trungthu-right" href="https://www.facebook.com/nntatlu/?locale=vi_VN">
    <img
      alt="Trang trí đón trung thu cho blog/website bằng hình ảnh cành hoa, mặt trăng, lồng đèn và rước đèn"
      data-src="{{site.baseurl}}/assets/images/trung-thu/mat-trang-long-den-trung-thu.webp"/>
  </a>
  <a class="codepro-trungthu-bottom" href="https://www.facebook.com/nntatlu/?locale=vi_VN">
    <img
      alt="Trang trí đón trung thu cho blog/website bằng hình ảnh cành hoa, mặt trăng, lồng đèn và rước đèn"
      data-src="{{site.baseurl}}/assets/images/trung-thu/ruoc-den-trung-thu.webp"/>
  </a>
</div>-->
<script src="https://apis.google.com/js/api.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/lazysizes.min.js" async></script>
<script src="{{ site.baseurl }}/assets/js/prism.js"></script>
<script src="{{ site.baseurl }}/assets/js/theme.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Sen:400,700&display=swap" rel="stylesheet">
<!--
  <div class="tet_left"><img src="{{ site.baseurl }}/assets/images/left-1.png" alt="AnonyViet-Tet"/></div>
  <div class="tet_right"><img src="{{ site.baseurl }}/assets/images/right-1.png" alt="AnonyViet-Tet"/></div>
  <div class="tet_bottom"><img src="{{ site.baseurl }}/assets/images/bottom-1.png" alt="AnonyViet-Tet"/></div>
-->





